# 176. Second Highest Salary

### Difficulty
**Medium**

---

## Problem Statement

Given an `Employee` table, write a **SQL query** to find the **second highest distinct salary**.  
If there is **no second highest salary**, return `null` (or `None` in Pandas).

---

## Table Schema

### **Table: Employee**
| Column Name | Type |
|-------------|------|
| `id`        | `int` |
| `salary`    | `int` |

- `id` is the **primary key** (unique values).
- Each row contains information about an **employee's salary**.

---

## Examples

### **Example 1**
#### **Input**
#### **Employee table:**
| id  | salary |
|---- |--------|
| 1   | 100    |
| 2   | 200    |
| 3   | 300    |

#### **Output**
| SecondHighestSalary |
|---------------------|
| 200                 |

---

### **Example 2**
#### **Input**
#### **Employee table:**
| id  | salary |
|---- |--------|
| 1   | 100    |

#### **Output**
| SecondHighestSalary |
|---------------------|
| null                |

---

## **Topics**
- SQL
- Aggregation (`MAX`, `LIMIT`, `OFFSET`)
- Conditional Handling (`IFNULL`, `COALESCE`)
- Sorting (`ORDER BY`)

# Solution

In [1]:
import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    unique_salaries = employee['salary'].drop_duplicates().nlargest(2)
    # OR unique_salaries = employee['salary'].drop_duplicates().sort_values(ascending=False).head(2)
    # But it is slower with time complexity O(n log n) vs. O(n) for nlargest(2).
    
    if len(unique_salaries) < 2:
        return pd.DataFrame({'SecondHighestSalary': [None]})  # Handles the case where there is no second-highest salary
    
    return pd.DataFrame({'SecondHighestSalary': [unique_salaries.iloc[1]]})

---

### **Time & Space Complexity**
| Operation                 | Time Complexity | Space Complexity |
|---------------------------|----------------|------------------|
| `drop_duplicates()`       | **O(n)**        | **O(n)**         |
| `nlargest(2)`             | **O(n)**        | **O(1)**         |
| Accessing second value    | **O(1)**        | **O(1)**         |
| **Total Complexity**      | **O(n)**        | **O(n)**         |

---