# 586. Customer Placing the Largest Number of Orders

### Difficulty
**Easy**

---

## Problem Statement

Given an `Orders` table, write a **SQL query** to find the **`customer_number`** for the customer who has placed the **largest number of orders**.

- The test cases are generated so that **exactly one customer** will have placed more orders than any other customer.

---

## Table Schema

### **Table: Orders**
| Column Name      | Type |
|------------------|------|
| `order_number`   | `int` |
| `customer_number`| `int` |

- `order_number` is the **primary key** (unique values) for this table.
- Each row contains:
  - An **order ID** (`order_number`), and
  - The **customer ID** (`customer_number`).

---

## Example

### **Input**
#### **Orders table:**
| order_number | customer_number |
|--------------|-----------------|
| 1            | 1               |
| 2            | 2               |
| 3            | 3               |
| 4            | 3               |

---

### **Output**
| customer_number |
|-----------------|
| 3               |

---

### **Explanation**
- Customer `3` has **two orders**, which is more than either customer `1` or `2` (each with **one order**).  
- Thus, the result is `customer_number = 3`.

---

## **Follow-Up**
- What if **more than one customer** has the largest number of orders?  
  - In that case, modify the query to return **all customers** with the highest number of orders.

---

## **Hints**
1. To find the customer with the largest number of orders, **group by** `customer_number` and use an **aggregation function** (`COUNT`).
2. Use an **ORDER BY** clause to sort the customers by the number of orders in descending order.
3. To handle ties (if multiple customers have the largest number of orders), modify the query to include **all such customers**.

---

# Solution:

In [1]:
import pandas as pd

In [69]:
def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    # Count the number of orders for each customer
    order_counts = orders['customer_number'].value_counts()

    # Find the maximum count
    max_count = order_counts.max()

    # Identify index of all customers with the maximum count
    top_customers = order_counts[order_counts == max_count].index

    # Return the result as a DataFrame
    return pd.DataFrame(top_customers, columns=['customer_number']) # alternative: return orders.iloc[top_customers][['customer_number']]

#### Time Complexity
- Counting Orders (value_counts): O(n), where n is the number of rows.
- Finding Maximum (max): O(m), where m is the number of unique customers.
- Filtering for Ties: O(m).
- Total Time Complexity: O(n + m).
#### Space Complexity
- Temporary Storage for Value Counts: O(m).
- Total Space Complexity: O(m).

# Example Implementation

In [70]:
data = {'order_number': [1,2,3,4,5,6,7,8], 
       'customer_number': [1,2,3,3,4,5,4,6]}
orders = pd.DataFrame(data)

In [71]:
orders

   order_number  customer_number
0             1                1
1             2                2
2             3                3
3             4                3
4             5                4
5             6                5
6             7                4
7             8                6

In [72]:
largest_orders(orders)

   customer_number
0                3
1                4