# 610. Triangle Judgement

### Difficulty
**Easy**

---

## Problem Statement

Given a `Triangle` table, write a **SQL query** to determine if three line segments can form a triangle.

For a triangle to be valid, the following conditions must hold:
1. The sum of any two sides must be greater than the third side:
   - `x + y > z`
   - `x + z > y`
   - `y + z > x`

Return a result table that includes:
- The columns `x`, `y`, and `z` (representing the three side lengths),
- A column `triangle` that is `"Yes"` if the sides can form a triangle and `"No"` otherwise.

Return the result table in **any order**.

---

## Table Schema

### **Table: Triangle**
| Column Name | Type |
|-------------|------|
| `x`         | `int` |
| `y`         | `int` |
| `z`         | `int` |

- `(x, y, z)` is the **primary key** for this table.
- Each row represents:
  - The lengths of three line segments (`x`, `y`, `z`).

---

## Example

### **Input**
#### **Triangle table:**
| x   | y   | z   |
|-----|-----|-----|
| 13  | 15  | 30  |
| 10  | 20  | 15  |

---

### **Output**
| x   | y   | z   | triangle |
|-----|-----|-----|----------|
| 13  | 15  | 30  | No       |
| 10  | 20  | 15  | Yes      |

---

### **Explanation**
1. For the first row:
   - `x = 13`, `y = 15`, `z = 30`.
   - Since `13 + 15 = 28` (not greater than `30`), the sides **cannot** form a triangle, so the result is `"No"`.
2. For the second row:
   - `x = 10`, `y = 20`, `z = 15`.
   - Since `10 + 20 > 15`, `10 + 15 > 20`, and `20 + 15 > 10`, the sides **can** form a triangle, so the result is `"Yes"`.

---

# Solution

In [1]:
import pandas as pd

In [2]:
def triangle_judgement(triangle: pd.DataFrame) -> pd.DataFrame:
    # Apply the triangle inequality conditions
    triangle['triangle'] = triangle.apply(
        lambda row: 'Yes' if (row['x'] + row['y'] > row['z'] and 
                              row['y'] + row['z'] > row['x'] and 
                              row['z'] + row['x'] > row['y']) else 'No',
        axis=1
    )
    return triangle

# Example Implementation

In [3]:
triangle_data = {
    'x': [13, 10],
    'y': [15, 20],
    'z': [30, 15]
}
triangle_df = pd.DataFrame(triangle_data)

In [4]:
triangle_df

    x   y   z
0  13  15  30
1  10  20  15

In [5]:
triangle_judgement(triangle_df)

    x   y   z triangle
0  13  15  30       No
1  10  20  15      Yes

# Alternative Solution

In [6]:
import numpy as np

In [7]:
def triangle_judgement(triangle: pd.DataFrame) -> pd.DataFrame:
    triangle['triangle'] = np.where(
        (triangle['x'] + triangle['y'] > triangle['z']) &
        (triangle['y'] + triangle['z'] > triangle['x']) &
        (triangle['z'] + triangle['x'] > triangle['y']),
        'Yes', 'No'
    )
    return triangle

In [8]:
triangle_judgement(triangle_df)

    x   y   z triangle
0  13  15  30       No
1  10  20  15      Yes

# Complexity Analysis

1. **Time Complexity:**
   - Both solutions check the triangle inequality conditions for each row of the DataFrame.
   - Time complexity is **O(n)**, where `n` is the number of rows in the DataFrame.

2. **Space Complexity:**
   - Adds a single new column (`triangle`) to the DataFrame.
   - Space complexity is **O(n)** for storing the new column.

---

#### **Comparison of `apply` and `np.where`:**
| **Aspect**            | **`apply` with `lambda`** | **`np.where`**             |
|------------------------|---------------------------|-----------------------------|
| **Readability**        | Easy to understand        | Slightly less readable      |
| **Performance**        | Slightly slower for large DataFrames | Faster due to vectorization |
| **Use Case**           | Flexible for complex row-wise logic | Ideal for straightforward conditions |

---

### **Which Solution Should You Use?**
- Use **`apply` with `lambda`** if you prefer readability and may need to add more complex logic later.
- Use **`np.where`** if you need a slight performance boost for larger DataFrames.
---