# 619. Biggest Single Number

### Difficulty
**Easy**

---

## Problem Statement

Given a `MyNumbers` table, write a **SQL query** to find the **largest single number**.

A **single number** is defined as a number that appears **only once** in the `MyNumbers` table.

- If there is at least one single number, return the **largest** one.
- If there are no single numbers, return **null**.

Return the result table in **any order**.

---

## Table Schema

### **Table: MyNumbers**
| Column Name | Type |
|-------------|------|
| `num`       | `int` |

- This table **may contain duplicates** (i.e., there is no **primary key**).
- Each row represents a **single integer value**.

---

## Example

### **Example 1**
#### **Input**
#### **MyNumbers table:**
| num |
|-----|
| 8   |
| 8   |
| 3   |
| 3   |
| 1   |
| 4   |
| 5   |
| 6   |

#### **Output**
| num |
|-----|
| 6   |

#### **Explanation**
- The **single numbers** (numbers appearing only once) are `{1, 4, 5, 6}`.
- The **largest** of these numbers is `6`, so the result is `6`.

---

### **Example 2**
#### **Input**
#### **MyNumbers table:**
| num |
|-----|
| 8   |
| 8   |
| 7   |
| 7   |
| 3   |
| 3   |
| 3   |

#### **Output**
| num  |
|------|
| null |

#### **Explanation**
- There are **no single numbers** in the input table.
- The result is `null`.

---

# Solution

In [1]:
import pandas as pd

def biggest_single_number(my_numbers: pd.DataFrame) -> pd.DataFrame:
    # Count occurrences of each number
    counts = my_numbers['num'].value_counts()

    # Filter only numbers that appear exactly once
    single_numbers = counts[counts == 1].index

    # Get the maximum single number (or return None if empty)
    max_single_number = max(single_numbers, default=None)

    # Return as a DataFrame with column name 'num'
    return pd.DataFrame({'num': [max_single_number]})

### **Complexity Analysis**
| **Operation**               | **Time Complexity** |
|-----------------------------|---------------------|
| `value_counts()` (counting)  | **O(n)**           |
| Filtering single numbers     | **O(1)** (hash lookup) |
| Finding max                  | **O(n)** (worst case) |
| **Total Complexity**         | **O(n)** |

- **Space Complexity:** O(n) due to dictionary storage from `value_counts()`.

# Example Execution

In [2]:
data = {'num': [8, 8, 3, 3, 1, 4, 5, 6]}
df = pd.DataFrame(data)

In [3]:
biggest_single_number(df)

   num
0    6

In [4]:
data = {'num': [8, 8, 3, 3, 7, 7]}
df = pd.DataFrame(data)

In [5]:
biggest_single_number(df)

    num
0  None

# Alternative Solution

In [6]:
import pandas as pd

def biggest_single_number(my_numbers: pd.DataFrame) -> pd.DataFrame:
    # Group and count occurrences
    counts = my_numbers.groupby('num').size()

    # Filter numbers appearing exactly once
    single_numbers = counts[counts == 1].index

    # Return max single number or None
    return pd.DataFrame({'num': [max(single_numbers, default=None)]})

Note: `value_counts()` is **faster and cleaner** than `groupby()`.